
  <div class="card">
    <div class="card-body">
      <h1 class="h3 mb-3 fw-normal">Please sign-up to use this service, It's Free!</h1>
      <form class=" row g-3" [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <div class="form-floating mb-3">
          <label for="inputEmail4" class="form-label">Username</label>
          <input formControlName="username" type="text" class="form-control" id="inputUsername" autocomplete="username">
        </div>
        <div class="form-floating mb-3">
          <label for="inputPassword4" class="form-label">Password</label>
          <input formControlName="password" type="password" class="form-control" id="inputPassword" autocomplete="new-password">
        </div>
        <div class="form-floating mb-3">
          <label for="inputPassword4" class="form-label">ConfirmPassword</label>
          <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm password." autocomplete="new-password">
        </div>
        <div class="form-floating mb-3">
          <label for="inputAddress" class="form-label">Insurance</label>
          <input formControlName="insurance" type="text" class="form-control" id="inputInsurance">
        </div>
        <div class="form-floating mb-3">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
    </div>
  </div>

