<table>
  <tr>
    <td>
      <div><label>Location</label></div>
      <div>
        <select>
          <option value="">Any</option>
          <option value="ven">Ventura</option>
          <option value="oxn">Oxnard</option>
          <option value="hue">Port Hueneme</option>
        </select>
      </div>
    </td>
    <td>
      <div><label>Specialty</label></div>
      <div>
        <select>
          <option value="">Any</option>
          <option value="gp">General Practitioner</option>
          <option value="ped">Pediatrics</option>
          <option value="onc">Oncology</option>
        </select>
      </div>
    </td>
    <td>
      <div><label>Insurance</label></div>
      <div>
        <select>
          <option value="">Any</option>
          <option value="bc">Blue Cross</option>
          <option value="bs">Blue Shield</option>
          <option value="cg">Cigna</option>
        </select>
      </div>
    </td>
  </tr>
</table>

