<table class="table">
  <tr>
    <td>
      <div><label>Specialty</label></div>
      <div>
        <select>
          <option value="">Any</option>
          <option value="Psychiatrist">Psychiatrist</option>
          <option value="Radiologist">Radiologist</option>
          <option value="Family">Family</option>
          <option value="Pediatrician">Pediatrician</option>
          <option value="Cardiologist">Cardiologist</option>
          <option value="Dermatologist">Dermatologist</option>
        </select>
      </div>
    </td>
    <td>
      <div><label>Insurance</label></div>
      <div>
        <select>
          <option value="">Any</option>
          <option value="blue cross">Blue Cross</option>
          <option value="cobra">Cobra</option>
          <option value="blue shield">Blue Shield</option>
          <option value="united">United</option>
          <option value="kaiser">Kaiser</option>
        </select>
      </div>
    </td>
  </tr>
</table>

