
<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Specialty</th>
      <th scope="col">Insurance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of (doctors | specialtySelect:specialty | insuranceSelect:insurance)">
      <td>{{d.doctorName}}</td>
      <td>{{d.typeofDoctor}}</td>
      <td>{{d.insuranceProvider}}</td>
      <td><a routerLink='AppointmentSystem'>Make Appointment</a></td>
    </tr>
  </tbody>
</table>
<p>{{errorMessage}}</p>

